<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SocialUp Web</title>

  <link rel="stylesheet" href="/styles/default.css"/>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://unpkg.com/http-vue-loader"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.css"/>
</head>

<body>
  <div id="application" class="layout">
    <%= yield %>
  </div>

  <!-- TODO development version. Replace to prod -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="/javascript/default.js"></script>
</body>
</html>