.layout {
  display: flex;
  height: 100vh
}

.layout .block {
  padding: 30px;
  height: 100%
}

.layout .page {
  width: 100%;
}

.table td, .table th {
  padding: 5px 10px;
}

.current-user-card {
  width: 400px;
}