<div class="stage-two box">
  <article class="media">
    <div class="media-content">
      <form method="post" action="/auth/login_confirmation">
        <div class="field">
          <label class="label">Auth code has been sent to your Telegram</label>
          <div class="control">
            <input name='login_code' class="input" type="text" placeholder="Enter here">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link is-success">Log in</button>
          </div>
          <div class="control">
            <a href="/auth/login" class="button is-link is-light">Back</a>
          </div>
        </div>

        <hr>

        <p>If you have not received the code, please return back and check your credentials</p>
      </form>
    </div>
  </article>
</div>