sidekiq.{$DOMAIN_NAME}:443 {
  proxy / socialup_sidekiqui:9393 {
		transparent
	}

  log stdout
	errors stdout
  tls {%EMAIL_FOR_CERTIFICATES%}
  basicauth / {%ADMIN_AUTH_USERNAME%} {%ADMIN_AUTH_PASSWORD%}
}

adminer.{$DOMAIN_NAME}:443 {
  proxy / socialup_adminer:8080 {
		transparent
	}

  log stdout
	errors stdout
  tls {%EMAIL_FOR_CERTIFICATES%}
  basicauth / {%ADMIN_AUTH_USERNAME%} {%ADMIN_AUTH_PASSWORD%}
}

redis.{$DOMAIN_NAME}:443 {
  proxy / socialup_redisui:8081 {
		transparent
	}

  log stdout
	errors stdout
  tls {%EMAIL_FOR_CERTIFICATES%}
  basicauth / {%ADMIN_AUTH_USERNAME%} {%ADMIN_AUTH_PASSWORD%}
}
