/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory ./admin
 *= require_self
 */

.layout {
  display: flex;
  height: 100vh
}

.layout .block {
  padding: 30px;
  height: 100%
}

.layout .page {
  width: 100%;
}

.sidebar {
  width: 400px;
  margin: 0 !important;
  background-color: #eaeaea;
}

.table td, .table th {
  padding: 5px 10px;
}

.current-user-card {
  width: 400px;
}

.form-wrapper {
  width: 600px;
  padding: 20px;
  background-color: #eaeaea;
}